{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main class="mealplan-detail">
  <div>
    <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
  </div>
  <h1> Recipes for {{ mealplan.name }} on {{ mealplan.date }}</h1>
  <ul>
    {% for recipe in mealplan.recipes.all %}
      <li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a></li>
    {% endfor %}
  </ul>
</main>
{% endblock content %}