{% extends 'base.html' %}

{% block pagination %}
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock pagination %}

{% block content %}
<main class="meal_plan-grid">
  {% for mealplan in page_obj %}
    <div class="meal_plan-card">
      <h2 class="recipe-card-title">
      <a href="{% url 'meal_plan_detail' mealplan.id %}">{{ mealplan.name }}</a>
      </h2>
      <p class="meal_plan-card-date">{{ mealplan.date }}</p>
    </div>
    {% empty %}
    <h2>You have not created a meal plan yet <a href="{% url 'meal_plan_create' %}">Create one here!</a>
  {% endfor %}
</main>
{% endblock content %}